*{
    padding: 0px;
    margin: 0px;
    font-family: montserrat;
    text-decoration: none;
}
/*Home page - start*/

.nav{
    background-image:linear-gradient(97deg, rgb(248, 134, 40), #f07d1f);
    position: sticky;
}

.nav-list{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding:16px 10px;
}
.nav-list a{
    padding:8px;
    margin-right: 8px;
    border-radius: 5px;
    padding-right: 10px;
    color:white;
    text-decoration: none;
    transition-duration:1s;
}
.nav-list a:hover{
    background-image: linear-gradient(#15c7ea, rgb(56, 206, 236));
}
.nav-list li:first-child{
    margin-right:auto;
    margin-left: 10px;
}

.intro{
    background-image: url("/assets/black-sport-car-highway-drive-sunset.jpg");
    display: block;
    background-size: cover;
}
.intro h1{
    text-align: center;
    font-size: 50px;
    padding: 30px;
    color: white;
}
.intro #tro-img{
    display: block;
    width: 320px;
}
.intro svg{
    margin-bottom:0px;
    padding-bottom:0px;
}
.announcement img{
    margin-top:100px;
    margin-bottom: 40px;
}
.announcement h2{
    font-size:54px;
}
.awards img{
    margin: 50px 50px 30px 50px;
}
.prt-btn-cnt{
    margin:70px;
    text-align: center;
}
.prdt-btn{
    border: none;
    margin:20px;
    border-radius: 15px;
    padding:20px 50px 20px 50px;
    background-color: orange;
    transition-duration:500ms;
}
.prdt-btn:hover{
    background-color: #15c7ea;
}

.prdt-btn a{
    color: white;
}
/*Home page and nav bar - end*/

/*About page - start*/
.heading-div{
    margin: 50px;
    text-align: center;
}
.heading-cont{
    font-size: 40px;
}

.ab-para{
    margin: 30px;
    line-height: 30px;
}

/*About page - end*/

/*Product pg - start*/
.prdt-card li a {
    margin: 20px;
    display: flex;
    flex-direction:column;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    padding: 30px;
    background-color: rgba(191, 191, 191, 0.835);
}
.prdt-card li a:hover {
    background-color:rgba(136, 136, 136, 0.835);
} 


.prdt-card {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
/*Product pg - end*/

/*Contact page - start*/
.contact-form{
    margin: 40px 30px 40px 40px;
    padding: 50px;
    display:grid;
}
.contact-form input{
    margin: 14px 0px 14px 0px;
    padding: 10px 35px;
    align-items:center;
    justify-items:center;
}
.contact-form #ta-fld{
    height: 150px;
    width: 370px;
    padding: 8px;
    text-anchor: start;
    resize: both;
    overflow: hidden scroll;
}
.contact-form #btn{
    border: none;
    border-radius: 15px;
    justify-items: center;
    color: white;
    background-color: #f07d1f;
    transition-duration: 500ms;
}
.contact-form #btn:hover{
    background-color:#15c7ea;
}

/*Contact page -end*/

/*pay*/
.pay-intro img{
    margin: 20px;
}

.p-intro-h2{
    margin: 30px;
    text-align: center;
}
.qr-code{
    display: flex;
    justify-content: center;
}
.lk-sl{
    display: flex;
    margin: 30px;
    font-size: 20px;
    text-decoration: none;
    justify-content: center;
}
/*pay*/

/*Footer - start*/
#para-100{
    text-align: center;
    margin: 50px;
    line-height: 35px;
    font-size: 20px;
}
/*Footer - end*/

